.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(84, 103, 110);
  color: white;
  

}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 15px;
}
.image{
  width: 300px;
  height: 150px;
}
.itemsShow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; 
  margin-top: 100px;
  margin-inline: 20px;

}
.body{
  margin-top: 20px;
  margin: auto;
  width: 30%;
  padding: 10px;
}
.cocktails-table{
  border: 1px;
}
.text{
 color: black;
 
}
.container{
  margin-top: 20px;
}

.makesearch{
  margin-top: 20px;
  
}